
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Welcome, {{email}}!</h1>

      <a href="event_form" class="btn btn-lg btn-primary">Create A New Event</a>

      <h2 class="sub-header">
        All Events
        <div class="form-group pull-right">
          <input type="text" id="all_search" class="search form-control" placeholder="What you looking for?">
        </div>
      </h2>
      <div class="table-responsive">
        <table id="all_results" class="table table-hover table-striped results">
          <thead>
            <tr>
              <th>#</th>
              <th>Event Name</th>
              <th>Location</th>
            </tr>
            <tr id="all_no-result" class="warning no-result">
              <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
          </thead>
          <tbody>

          {{#each allEvents}}
          <tr>
          <td>{{objectId}}</td>
          <td><a href="event/{{objectId}}">{{name}}</a></td>
          <td>{{LocationCity}}</td>
          </tr>
          {{/each}}
            
          </tbody>
        </table>
      </div>

      <h2 class="sub-header">
        Your Events
        <div class="form-group pull-right">
          <input type="text" id="your_search" class="search form-control" placeholder="What you looking for?">
        </div>
      </h2>
      <div class="table-responsive">
        <table id="your_results" class="table table-hover table-striped results">
          <thead>
            <tr>
              <th>#</th>
              <th>Event Name</th>
              <th>Location</th>
            </tr>
            <tr id="your_no-result" class="warning no-result">
              <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
          </thead>
          <tbody>

          {{#each yourEvents}}
          <tr>
          <td>{{objectId}}</td>
          <td><a href="event/{{objectId}}">{{name}}</a></td>
          <td>{{LocationCity}}</td>
          </tr>
          {{/each}}
            
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

<script>
$(document).ready(function() {

 $("#all_search").keyup(function () {
    var searchTerm = $("#all_search").val();
    var listItem = $('#all_results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
    
  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });
    
  $("#all_results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $("#all_results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('#all_results tbody tr[visible="true"]').length;

  if(jobCount == '0') {$('#all_no-result').show();}
    else {$('#all_no-result').hide();}
  });

  $("#your_search").keyup(function () {
    var searchTerm = $("#your_search").val();
    var listItem = $('#your_results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
    
  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });
    
  $("#your_results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $("#your_results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('#your_results tbody tr[visible="true"]').length;

  if(jobCount == '0') {$('#your_no-result').show();}
    else {$('#your_no-result').hide();}
  });

   
});
</script>
