<div class="container">    
    {{#if admin}}
      <form action="update_event/{{objectId}}" method="post">
        <h2 class="form-signin-heading">Admin Panel for {{name}}</h2>
      
        <p>ID: {{objectId}}</p> 
        <p>Host: {{host}}</p>
        <label for="name">Event Name</label>
        <input
            type="text" name="name" id="name" class="form-control"
            value="{{name}}" required autofocus>
        <label for="location">Location</label>
        <input
            type="text" name="location" id="location" class="form-control"
            value="{{location}}" required>
        <label for="location">Date and Time</label>
   
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' name="datetime" id="datetime" class="form-control" value="{{date}}" required>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script>
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        </script>
        <label for="description">Description</label>
        <input
            type="text" name="description" id="description" class="form-control"
            value="{{description}}" required>
        <p class="red">{{message}}</p>
        <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
      </form>

    <!-- show all people and their status -->
    <h2 class="sub-header">
    Attendees
    <div class="form-group pull-right">
      <input type="text" id="search" class="search form-control" placeholder="Search">
    </div>
    </h2>
    <div class="table-responsive">
    <table id="results" class="table table-hover table-striped results">
      <thead>
        <tr>
          <th class="col-lg-2">#</th>
          <th>Email</th>
          <th>Checked in?</th>
          <th>Manual Check-in</th>
        </tr>
        <tr id="no-result" class="warning no-result">
          <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
      </thead>
      <tbody>

      {{#each attendees}}
      <tr>
      <td>{{userId}}</td>
      <td>{{userName}}</td>
      <td>{{userStatus}}</td>
      <td><a href="/checkin/{{../objectId}}/{{userId}}">Check In</a></td>
      </tr>
      {{/each}}
        
      </tbody>
    </table>
    </div>
    {{else}}
        <h2>{{name}}</h2>
        <p>ID: {{objectId}}</p> 
        <p>Host: {{host}}</p>
        <p>Location: {{location}}</p> 
        <p>Date: {{date}}</p>
        <p>Description: {{description}}</p>

        {{#if joined}}
            {{#if checkedIn}}
                <p>You have already been checked in.</p>
            {{else}}
                <p>Please have the host scan the following QR code to check in:</p>
                <div id="qrcode"></div>
                <script>
                    new QRCode(document.getElementById("qrcode"), window.location.host +"/checkin/{{objectId}}/{{userId}}");
                </script>
            {{/if}}
        {{else}}
            <a href="/attend/{{objectId}}" class="btn btn-lg btn-primary">Attend</a> 
        {{/if}}
    {{/if}}  


</div> <!-- /container -->
<script>

$(document).ready(function() {
  // your
  $("#search").keyup(function () {
    var searchTerm = $("#search").val();
    var listItem = $('#results tbody').children('tr');
    var searchSplit = searchTerm.replace(/ /g, "'):containsi('")
    
  $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
        return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
    }
  });
    
  $("#results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','false');
  });

  $("#results tbody tr:containsi('" + searchSplit + "')").each(function(e){
    $(this).attr('visible','true');
  });

  var jobCount = $('#results tbody tr[visible="true"]').length;

  if(jobCount == '0') {$('#no-result').show();}
    else {$('#no-result').hide();}
  });
});


</script>

