
    <div class="container">    

      <form action="create_event" method="post">
        <h2 class="form-signin-heading">Create Event</h2>
      
        <label for="event_name">Event Name</label>
        <input type="text" name="event_name" id="event_name" class="form-control" required autofocus>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" required>
        <label for="description">Description</label>
        <input type="textarea" name="description" id="description" class="form-control" required>
        <p class="red">{{message}}</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Event</button>
      </form>

    </div> <!-- /container -->


