

<div class="container">
<div class="col-lg-3"></div><img class="col-lg-6" src="/assets/images/eventorfull.png"/><div class="col-lg-3"></div>

	<form class="form-signin" action="login" method="post">
		<label for="inputEmail" class="sr-only">Email address</label> 

		<input
			type="email" name="email" id="email" class="form-control"
			placeholder="Email address" required autofocus> 

		<label for="inputPassword" class="sr-only">Password</label> 

		<input
			type="password" name="password" id="password" class="form-control"
			placeholder="Password" required>
		<p class="red">{{message}}</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Log in</button>
        <p><a href="/register">Don't have an account? Register here!</a></p>
	</form>

</div>
<!-- /container -->
<!--
<script>
function signUp() {
    name = document.getElementById('email').value;
    pass = document.getElementById('password').value;

    var user = new Parse.User();
    user.set("email", name);
    user.set("password", pass);
    //user.set("email", "email@example.com");

    // other fields can be set just like with Parse.Object
    //user.set("phone", "415-392-0202");

    user.signUp(null, {
        success: function(user) {
            alert("Your account has been created!");
            window.location.href = "./index";
        },
        error: function(user, error) {
            // Show the error message somewhere and let the user try again.
            alert("Error: " + error.code + " " + error.message);
        }
    });

}

function logIn() {
    name = document.getElementById('email').value;
    pass = document.getElementById('password').value;
    Parse.User.logIn(name, pass, {
        success: function(user) {
            //alert("You have successfully logged in!");
            window.location.href = "./index";
        },
        error: function(user, error) {
            alert("Error: " + error.code + " " + error.message);
        }
    });


}
</script>-->
