
    <div class="container">    

      <form action="profile" method="post">
        <h2 class="form-signin-heading">Edit Profile</h2>
      
        <label for="email">Email Address</label>
        <p>{{email}}</p>
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
        <p class="red">{{message}}</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
      </form>

    </div> <!-- /container -->


